@charset "UTF-8";
/* CSS Document */
/* Setup Website */

html, div, span, iframe, h1, h2, h3, h4, h5, h6, p, font, img, q, ol, li, ul, form, label, body {
	border: 0; padding: 0; margin: 0; outline: 0;
	vertical-align: baseline; background: transparent;
}

/* Set up CSS Variables */
:root{
	
	/* Set up primary text */
	--font-display: "europa";
	--font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	
	/* Set up color palette */
	--color-black: #202020;
	--color-white: #fff;
	--color-primary: #0E75C1;
	
	/* Set up grid spacing */
	--spacing-grid-half: 8px;
	--spacing-grid-1x: 16px;
	--spacing-grid-2x: 32px;
	--spacing-grid-3x: 48px;
	--spacing-grid-4x: 64px;
}

/* Set Base Layout */

html { 
	font-size: 16px; 
	font-family: var(--font-main);
	font-weight: 500;
	line-height: 1.6em;
}

body { width: 100%; }

div.module, div.container { display: flex; width: 100%; }
div.container { margin: 0px auto; }
div.podcast { width: 100%; margin: 0px auto; }

/* Set max width */
.setMaxW { max-width: 1280px; }

/* 404 Styling */
.four-oh-four { height: 100vh; align-items: center; }

div.full { width: calc(100% - var(--spacing-grid-2x)); }
div.multicolumn { width: calc(100% - var(--spacing-grid-1x)); margin: auto; }

div.nomargin { margin: 0; width: 100%; }

div.row { flex-direction: row; }
div.column { flex-direction: column; }

div.wrap { flex-wrap: wrap; }

div.align-start { align-items: flex-start; }
div.align-center { align-items: center; }
div.align-end { align-items: flex-end; }

div.justify-start { justify-content: flex-start; }
div.justify-center { justify-content: center; }
div.justify-end { justify-content: flex-end; }
div.justify-between { justify-content: space-around; margin: auto; }

/* Padding and Margins */

.padding-xsmall { padding: 0px 10px; }
.padding-small { padding: 0px 20px; }
.padding-medium { padding: 0px 30px; }
.padding-large { padding: 0px 40px; }
.padding-xlarge { padding: 0px 50px; }

/* Grid Padding */
.padding-grid { padding: 0px var(--spacing-grid-1x); }
.padding-grid-2x { padding: 0px var(--spacing-grid-2x); }
.padding-grid-3x { padding: 0px var(--spacing-grid-3x); }
.padding-grid-4x { padding: 0px var(--spacing-grid-4x); }

.margin-xsmall { margin: 10px auto; }
.margin-small { margin: 20px auto; }
.margin-medium { margin: 50px auto; }
.margin-large { margin: 100px auto; }
.margin-xlarge { margin: 200px auto; }

/* Grid Margins */
.margin-grid { margin: var(--spacing-grid-1x) auto; }
.multicolumn .margin-grid { margin: var(--spacing-grid-1x) var(--spacing-grid-half); }

.margin-grid-2x { margin: var(--spacing-grid-2x) auto; }
.margin-grid-3x { margin: var(--spacing-grid-3x) auto; }
.margin-grid-4x { margin: var(--spacing-grid-4x) auto; }

/* Custom Paddings */

/* Typography */

.light-theme { color: var(--color-black); }
.dark-theme { color: var(--color-white); }

h1, h2 { font-family: var(--font-display); font-weight: 800; line-height: 1.2em; margin-bottom: 1.5rem; }
h3, h4 { font-weight: 700; line-height: 1.2em; margin-bottom: 1.5rem; }
h4, h5 { font-weight: 600; line-height: 1.2em; margin-bottom: 1.5rem; }

h1.large, h2.large { font-size: 4.5rem; }
h1.medium, h2.medium { font-size: 4rem; }
h1.small, h2.small { font-size: 3.5rem; }
h1.hp-small, h2.hp-small { font-family: var(--font-main); font-weight: 600; font-size: 1rem; margin-bottom: 1.5rem; }

h3.large, h4.large { font-size: 3rem; }
h3.medium, h4.medium { font-size: 2.5rem; }
h3.small, h4.small { font-size: 2.25rem; }

h5.large, h6.large { font-size: 2rem; }
h5.medium, h6.medium { font-size: 1.75rem; }
h5.small, h6.small { font-size: 1.5rem; }

p, span { font-size: 1rem; margin-bottom: 1.5rem; }
p b { font-weight: 900; }

.text-center { text-align: center; }
.text-left { text-align: left; }

/* Button Styles */

div.cta { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; margin: var(--spacing-grid-1x) 0px; }

.light-theme a.btn, .light-theme input.btn, .light-theme button.btn { 
    padding: 15px 25px; margin: var(--spacing-grid-half) 0px; margin-left: var(--spacing-grid-half); border: 2px solid var(--color-black); color: var(--color-white); 
    cursor: pointer; background: var(--color-black);
    transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
}

.light-theme a.btn.brand, .light-theme input.btn.brand, .light-theme button.btn.brand { 
    border: 2px solid var(--color-primary); background: var(--color-primary); 
}

.light-theme input.btn:hover, .light-theme button.btn:hover { opacity: 0.75; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; }

.light-theme a.btn:focus, .light-theme input.btn:focus, .light-theme button.btn:focus  { 
    outline: 3px solid var(--color-primary); 
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}

.dark-theme a.btn, .dark-theme input.btn, .dark-theme button.btn { 
    padding: 15px 25px; margin: var(--spacing-grid-half) 0px; margin-left: var(--spacing-grid-half); border: 2px solid var(--color-white); color: var(--color-black); 
    cursor: pointer; background: var(--color-white);
    transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
}

.dark-theme input.btn:hover, .dark-theme button.btn:hover { opacity: 0.75; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; }

.dark-theme a.btn:focus, .dark-theme input.btn:focus, .dark-theme button.btn { 
    outline: 3px solid var(--color-primary); 
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}

/* Buttons sitting next to one another */

div.cta a.btn:first-child, div.cta input.btn:first-child, div.cta button.btn:first-child { margin-left: 0px; }

/* Image Styles */

img.social, img.avatar, img.podcast-icon, img.feature,
img.xsmall, img.small, img.medium,
img.large, img.xlarge { width: 100%; margin: var(--spacing-grid-1x) auto; }

img.xsmall { max-width: 100px; }
img.small { max-width: 150px; }
img.medium { max-width: 250px; }
img.large { max-width: 350px; }
img.xlarge { max-width: 500px; }
img.social { max-width: 30px; }
img.avatar { max-width: 100px; }
img.podcast-icon { max-width: 50px; margin: 15px; }
img.feature { width: 100%; margin: 15px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }

.podcast-badge { margin: 16px var(--spacing-grid-half); width: auto; max-height: 50px; }

/** Video styling **/

video { 
    width: 100%; margin: 0px auto; cursor: pointer; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
    transition: 1s; -moz-transition: 1s; -webkit-transition: 1s;
}

button.video { position: relative; transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; outline: none; }
button.video:hover { opacity: .75; transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }
button.video:active { opacity: .5; }
button.video:focus { outline: 2px solid var(--color-primary); transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }

button.video .vid-blackout { 
    display: flex; justify-content: center; align-items: center;
    position: absolute; width: 100%; height: 100%; 
    background: rgba(0, 0, 0, 0.75); outline: none;
    transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s;
}

button.video .vid-blackout.active { opacity: 0;  transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }
button.video:hover .vid-blackout.active { opacity: .5;  transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }
button.video:focus .vid-blackout.active { outline: 2px solid var(--color-primary); transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }

/** Navigation Header for Website **/

nav { 
    display: flex; justify-content: space-between; 
    width: calc(100% - 48px); height: 75px; position: fixed; 
    padding: 24px;
    top: 0; left: 0;
    z-index: 95;
}

nav .home-icon { height: 100%; max-height: 75px;  }

nav .home { 
    display: flex; justify-content: center;
    width: 50px; height: 50px; background: #000;
     -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;
    transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
}

nav .toggle { 
    display: flex; flex-direction: column; justify-content: center; cursor: pointer;
    width: 50px; height: 50px; background: #000; position: relative; z-index: 100;
    -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;
    transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
}

nav .home:focus, nav .toggle:focus { 
    outline: 3px solid var(--color-primary);
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}

nav .toggle:hover { 
    opacity: 0.5;
    transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
}

nav .toggle span { 
    width: 65%; height: 5px; margin: 3px auto; background-color: var(--color-white);
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}
nav .toggle.active span:first-child { 
    transform: rotate(135deg) translate(3px, -4px); 
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}
nav .toggle.active span:last-child { 
    transform: rotate(-135deg) translate(3px, 4px); 
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}

/* Set up drawer styling */

nav .drawer {
    width: 400px; padding: 15px; height: 100%; display: flex; 
    position: fixed; top: 0; left: -430px; z-index: 99;
    flex-direction: column; justify-content: space-between;
    background: rgba(0, 0, 0, .95); backdrop-filter: blur(5px);
    -webkit-transition: 1s ease-in-out; -moz-transition: 1s ease-in-out; transition: 1s ease-in-out; 
}

nav.active .drawer { left: 0px; -webkit-transition: 1s ease-in-out; -moz-transition: 1s ease-in-out; transition: 1s ease-in-out;  }

nav .drawer ul { list-style: none; padding: 0px 15px;  margin: 0px 0px 25px; }
nav .drawer ul li { margin: 15px 0px; width: fit-content; }
nav .drawer span { display: block; margin: 0px 0px 5px; color: var(--color-white); font-weight: 700; }
nav .drawer .social-links {  display: flex; flex-direction: row; width: 100%; margin: 15px 0px; }
nav .drawer .social-links a img { margin: 5px 10px 5px 0px; }

nav .drawer ul li a:after { content: '\203A'; margin-left: 10px; -webkit-transition: 0.25s; -moz-transition: 0.25s; transition: 0.25s; }
nav .drawer ul li:hover a:after { content: '\203A'; margin-left: 15px; -webkit-transition: 0.25s; -moz-transition: 0.25s; transition: 0.25s; }
nav .drawer ul li a.home:after { content: none; margin-left: 0px; }

nav .drawer ul li a:link { color: var(--color-white); font-size: 18px; font-weight: 700; }
nav .drawer ul li a:visited { color: var(--color-white); font-size: 18px; font-weight: 700; }
nav .drawer ul li a:hover { color: var(--color-white); font-size: 18px; font-weight: 700; }
nav .drawer ul li a:active { color: var(--color-white); font-size: 18px; font-weight: 700; }

/** Links **/

a:link { text-decoration: none; -webkit-transition: 0.25s; -moz-transition: 0.25s; transition: 0.25s; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; opacity: 0.5; -webkit-transition: 0.25s; -moz-transition: 0.25s; transition: 0.25s; }
a:active { text-decoration: none; }
a:focus { outline: 3px solid var(--color-primary); transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s; }

/* Buttons */
button { border: none; padding: 0; }

/* Background Images */

#home-splash, #services-splash, #projects-splash, #podcast-splash, #contact-splash, #web-design-splash {
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	background-attachment: scroll; background-position: center;
	z-index: 1;
}

#oe-main-splash, #eagle-main-splash, #demarre-main-splash, #l2r-main-splash {
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	background-attachment: scroll; background-position: center;
	z-index: 1;
}

#home-splash { 
    /* 
    background-image: url(https://empacdesign.com/files/bg/home/blk-blue-abstract-bg.jpg); 
    */
    background-color: #000;
    position: relative; overflow: hidden;
}

.home-main { 
    position: relative; z-index: 2; 
    animation: 5s linear 0s fade-in;
}

/** Custom Homepage M1 Animation **/
/** Glowing Orb Rain **/

.cc-glow-rain { 
    position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1; 
    animation: 45s linear 0s infinite fade-glow;
    background: -webkit-linear-gradient(127deg, rgba(5,45,65,.8), rgba(255,0,0,0) 70.71), 
        -webkit-linear-gradient(37deg, rgba(9,90,129,.8), rgba(0,255,0,0) 70.71),
        -webkit-linear-gradient(246deg, rgba(14,134,193,.8), rgba(0,0,255,0) 70.71);
    background: -o-linear-gradient(127deg, rgba(5,45,65,.8), rgba(255,0,0,0) 70.71), 
        -o-linear-gradient(37deg, rgba(9,90,129,.8), rgba(0,255,0,0) 70.71),
        -o-linear-gradient(246deg, rgba(14,134,193,.8), rgba(0,0,255,0) 70.71);
    background: linear-gradient(217deg, rgba(5,45,65,.8), rgba(255,0,0,0) 70.71), 
        linear-gradient(127deg, rgba(9,90,129,.8), rgba(0,255,0,0) 70.71),
        linear-gradient(336deg, rgba(14,134,193,.8), rgba(0,0,255,0) 70.71);
}

.cc-glow-rain .orb { 
    position: absolute; 
    background-color: rgba(255, 255, 255, .13); 
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, .5);
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; 
}

.cc-glow-rain .small { width: 50px; height: 50px; }
.cc-glow-rain .large { width: 100px; height: 100px; }

/** Offset Orb Animations **/

.cc-glow-rain .orb:nth-child(1){ 
    left: 1%;
    animation: 5s linear 0s infinite drop-pattern-one;
}

.cc-glow-rain .orb:nth-child(2){ 
    left: 4%;
    animation: 41s linear 0s infinite drop-pattern-three;
}

.cc-glow-rain .orb:nth-child(3){ 
    left: 7%;
    animation: 9s linear 0s infinite drop-pattern-three;
}

.cc-glow-rain .orb:nth-child(4){ 
    left: 10%;
    animation: 37s linear 0s infinite drop-pattern-five;
}

.cc-glow-rain .orb:nth-child(5){ 
    left: 13%;
    animation: 13s linear 0s infinite drop-pattern-five;
}

.cc-glow-rain .orb:nth-child(6){ 
    left: 16%;
    animation: 33s linear 0s infinite drop-pattern-five;
}

.cc-glow-rain .orb:nth-child(7){ 
    left: 19%;
    animation: 17s linear 0s infinite drop-pattern-five;
}

.cc-glow-rain .orb:nth-child(8){ 
    left: 22%;
    animation: 29s linear 0s infinite drop-pattern-three;
}

.cc-glow-rain .orb:nth-child(9){ 
    left: 25%;
    animation: 25s linear 0s infinite drop-pattern-one;
}

.cc-glow-rain .orb:nth-child(10){ 
    left: 28%;
    animation: 23s linear 0s infinite drop-pattern-two;
}

.cc-glow-rain .orb:nth-child(11){ 
    left: 31%;
    animation: 21s linear 0s infinite drop-pattern-three;
}

.cc-glow-rain .orb:nth-child(12){ 
    left: 34%;
    animation: 27s linear 0s infinite drop-pattern-two;
}

.cc-glow-rain .orb:nth-child(13){ 
    left: 37%;
    animation: 19s linear 0s infinite drop-pattern-four;
}

.cc-glow-rain .orb:nth-child(14){ 
    left: 40%;
    animation: 31s linear 0s infinite drop-pattern-four;
}

.cc-glow-rain .orb:nth-child(15){ 
    left: 43%;
    animation: 15s linear 0s infinite drop-pattern-six;
}

.cc-glow-rain .orb:nth-child(16){ 
    left: 46%;
    animation: 35s linear 0s infinite drop-pattern-six;
}

.cc-glow-rain .orb:nth-child(17){ 
    left: 49%;
    animation: 11s linear 0s infinite drop-pattern-four;
}

.cc-glow-rain .orb:nth-child(18){ 
    left: 52%;
    animation: 39s linear 0s infinite drop-pattern-four;
}

.cc-glow-rain .orb:nth-child(19){ 
    left: 55%;
    animation: 7s linear 0s infinite drop-pattern-two;
}

.cc-glow-rain .orb:nth-child(20){ 
    left: 58%;
    animation: 43s linear 0s infinite drop-pattern-two;
}

.cc-glow-rain .orb:nth-child(21){ 
    left: 61%;
    animation: 4s linear 0s infinite drop-pattern-two;
}

.cc-glow-rain .orb:nth-child(22){ 
    left: 64%;
    animation: 40s linear 0s infinite drop-pattern-two;
}

.cc-glow-rain .orb:nth-child(23){ 
    left: 67%;
    animation: 8s linear 0s infinite drop-pattern-four;
}

.cc-glow-rain .orb:nth-child(24){ 
    left: 70%;
    animation: 36s linear 0s infinite drop-pattern-four;
}

.cc-glow-rain .orb:nth-child(25){ 
    left: 73%;
    animation: 12s linear 0s infinite drop-pattern-six;
}

.cc-glow-rain .orb:nth-child(26){ 
    left: 76%;
    animation: 16s linear 0s infinite drop-pattern-four;
}

.cc-glow-rain .orb:nth-child(27){ 
    left: 79%;
    animation: 30s linear 0s infinite drop-pattern-five;
}

.cc-glow-rain .orb:nth-child(28){ 
    left: 82%;
    animation: 20s linear 0s infinite drop-pattern-two;
}

.cc-glow-rain .orb:nth-child(29){ 
    left: 85%;
    animation: 26s linear 0s infinite drop-pattern-three;
}

.cc-glow-rain .orb:nth-child(30){ 
    left: 88%;
    animation: 22s linear 0s infinite drop-pattern-one;
}

.cc-glow-rain .orb:nth-child(31){ 
    left: 91%;
    animation: 24s linear 0s infinite drop-pattern-two;
}

.cc-glow-rain .orb:nth-child(32){ 
    left: 94%;
    animation: 28s linear 0s infinite drop-pattern-four;
}

.cc-glow-rain .orb:nth-child(33){ 
    left: 97%;
    animation: 18s linear 0s infinite drop-pattern-three;
}

.cc-glow-rain .orb:nth-child(34){ 
    left: 100%;
    animation: 32s linear 0s infinite drop-pattern-six;
}

.cc-glow-rain .orb:nth-child(35){ 
    left: 3%;
    animation: 14s linear 0s infinite drop-pattern-five;
}

.cc-glow-rain .orb:nth-child(36){ 
    left: 6%;
    animation: 34s linear 0s infinite drop-pattern-five;
}

.cc-glow-rain .orb:nth-child(37){ 
    left: 9%;
    animation: 10s linear 0s infinite drop-pattern-five;
}

.cc-glow-rain .orb:nth-child(38){ 
    left: 12%;
    animation: 38s linear 0s infinite drop-pattern-three;
}

.cc-glow-rain .orb:nth-child(39){ 
    left: 15%;
    animation: 6s linear 0s infinite drop-pattern-three;
}

.cc-glow-rain .orb:nth-child(40){ 
    left: 18%;
    animation: 42s linear 0s infinite drop-pattern-one;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-glow { 
    0% { opacity: .5; }
    50% { opacity: 1; }
    100% { opacity: .5; }
}

@keyframes drop-pattern-one {
    0% { transform: translateY(-25vh); opacity: 0; }
    50% { transform: translateY(55vh); opacity: 1; }
    100% { transform: translateY(135vh); opacity: 0; }
}

@keyframes drop-pattern-two {
    0% { transform: translateY(-35vh); opacity: 0; }
    50% { transform: translateY(47.5vh); opacity: 1; }
    100% { transform: translateY(130vh); opacity: 0; }
}

@keyframes drop-pattern-three {
    0% { transform: translateY(-45vh); opacity: 0; }
    50% { transform: translateY(40vh); opacity: 1; }
    100% { transform: translateY(125vh); opacity: 0; }
}

@keyframes drop-pattern-four {
    0% { transform: translateY(-20vh); opacity: 0; }
    50% { transform: translateY(55vh); opacity: 1; }
    100% { transform: translateY(130vh); opacity: 0; }
}

@keyframes drop-pattern-five {
    0% { transform: translateY(-30vh); opacity: 0; }
    50% { transform: translateY(47.5vh); opacity: 1; }
    100% { transform: translateY(125vh); opacity: 0; }
}

@keyframes drop-pattern-six {
    0% { transform: translateY(-40vh); opacity: 0; }
    50% { transform: translateY(40vh); opacity: 1; }
    100% { transform: translateY(120vh); opacity: 0; }
}

/**************************/

#services-splash { background-image: url(https://empacdesign.com/files/bg/home/strategy-bw-bg.jpg); }
#projects-splash { background-image: url(https://empacdesign.com/files/bg/home/projects-bw-bg.jpg); }
#podcast-splash { background-image: url(https://empacdesign.com/files/bg/empac-weekly-bg.jpg); }
#contact-splash { background-image: url(https://empacdesign.com/files/splash/contact-splash.jpg); }
#web-design-splash { background-image: url(https://empacdesign.com/files/splash/web/web-design-splash.jpg); }

/* Project Page Splash */

#oe-main-splash { background-image: url(https://empacdesign.com/files/bg/olympic-energy/oe-main-splash.desktop.jpg); }
#eagle-main-splash { background-image: url(https://empacdesign.com/files/bg/eagle-metals/eagle-main-splash.desktop.jpg); }
#demarre-main-splash { background-image: url(https://empacdesign.com/files/bg/demarre/demarre-main-splash.desktop.jpg); }
#l2r-main-splash { background-image: url(https://empacdesign.com/files/bg/l2r/l2r-main-splash.desktop.jpg); }

/* Drop Color Splash Screen */

.pure-white, .pure-black {
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	background-attachment: scroll; background-position: center;
	z-index: 100;
}

.pure-white { background-color: rgba(255,255,255,.75); }
.pure-black { background-color: rgba(0,0,0,.75); }

/* Form Elements */

#formSection { overflow-y: hidden; max-height: fit-content; transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }
form { margin-bottom: 50px; padding: 0px 10px; }

form div.custom-input { 
    width: 100%; min-width: 500px; min-height: 60px; margin: 0px auto 25px; 
    position: relative; border: 2px solid #000; 
}

form div.custom-checkbox { margin: 0px 0px 25px; }

form input { 
    font-size: 14px; 
	font-family: var(--font-main);
	font-weight: 500;
	line-height: 1.6em;
}

form div.custom-input label { 
    position: absolute; top: 50%; left: 20px; transform: translateY(-50%); 
    transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

form div.custom-input:focus-within label, form div.custom-input.active label { 
    position: absolute; top: 15px; left: 20px; font-size: 12px; color: var(--color-primary); 
    transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

form div.custom-input input[type='text'] {
	width: calc(100% - 40px); height: calc(100% - 20px); position: absolute; padding: 20px 20px 0px;
	color: #000; background: transparent; border: none;
    font-size: 14px; transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

form div.custom-input input:focus, form div.custom-input.active input {
    outline: 2px solid var(--color-primary);
    transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

/* Show Error States */
form div.custom-input input.error { outline: 2px solid #ff0000; }
form div.custom-input input.error ~ label { color: #ff0000; }

form input[type='checkbox'] {
	-webkit-appearance: none;
	height: 30px; width: 30px;
	background: var(--color-white);
	display: inline-flex;
	border: 2px solid #0F0F0F;
	transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
	vertical-align: middle;
}

form input[type='checkbox']:hover {
	background: #f0f0f0;
	transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
	cursor: pointer;
}

form input[type='checkbox']:checked {
	background: var(--color-primary);
	transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
}

/* Hide Google Badge */
.grecaptcha-badge {
    visibility: hidden;
}

/* Success Section */

.form-success { 
    width: 100%; display: none; flex-direction: row; 
    justify-content: center; align-items: center; text-align: center;
}

.form-success p { color: var(--color-primary); font-weight: 900; }

/* Set up carousel styling */

.carousel { 
    width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start;
    padding: 0px 0px var(--spacing-grid-1x); overflow-x: scroll; scroll-padding: var(--spacing-grid-1x); position: relative;
}

.carousel::after { content: ' '; display: block; padding: 1px; }

.carousel .card { 
    display: flex; flex-direction: column; flex-shrink: 0;
    width: 400px; margin: 0px var(--spacing-grid-1x); overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .15);
}

.carousel .card .image { width: 100%; min-height: 250px; position: relative; overflow: hidden; }
.carousel .card .image img { width: 100%; position: absolute; top: 50%; left: 0; transform: translateY(-50%); }
.carousel .card .content { display: flex; flex-direction: column; }
.carousel .card .content div.cta { justify-content: center; }
.carousel .card a.btn { background-color: #000; color: var(--color-white); }
.carousel .card a.btn.brand { background-color: var(--color-primary); }

/* Smaller Desktop */

@media only screen and (max-width: 1280px) { }

/* Tablet Breakpoints */

@media only screen and (max-width: 1024px) {

	h1.large, h2.large { font-size: 4.25rem; }
	h1.medium, h2.medium { font-size: 3.75rem; }
    h1.small, h2.small { font-size: 3.25rem; }
	h1.hp-small, h2.hp-small { font-size: 0.875rem; }

	h3.large, h4.large { font-size: 2.75rem; }
	h3.medium, h4.medium { font-size: 2.25rem; }
    h3.small, h4.small { font-size: 1.75rem; }
	
	h5.large, h6.large { font-size: 1.75rem; }
    h5.medium, h6.medium { font-size: 1.5rem; }
	h5.small, h6.small { font-size: 1.25rem; }
    
    p, span { font-size: 0.875rem; }

}

@media only screen and (max-width: 768px) { }
	
/* Mobile Breakpoints */

@media only screen and (max-width: 640px) {
    
    h1, h2, h3, h4, h5, h6 { text-align: center; }
    
	h1.large, h2.large { font-size: 3.75rem; }
	h1.medium, h2.medium { font-size: 3.25rem; }
    h1.small, h2.small { font-size: 2.5rem; }

    h3.large, h4.large { font-size: 2rem; }
	h3.medium, h4.medium { font-size: 1.75rem; }
	h3.small, h4.small { font-size: 1.5rem; }
	
	h5.large, h6.large { font-size: 1.5rem; }
    h5.medium, h6.medium { font-size: 1.25rem; }
	h5.small, h6.small { font-size: 1rem; }
    
    .text-left { text-align: center; }

    div.row { flex-direction: column; }
    div.half, div.third { width: calc(100% - var(--spacing-grid-1x)); }
    
    div.align-start { align-items: center; }
    
    .padding-xsmall, .padding-small,
    .padding-medium, .padding-large,
    .padding-xlarge { padding: 0px; }
    
    img.feature { margin: 0px 0px 15px }
    
    div.cta { justify-content: center; flex-direction: column; }
    
    .light-theme a.btn, .light-theme input.btn, .light-theme button.btn,
    .dark-theme a.btn, .dark-theme input.btn, .dark-theme button.btn { margin-left: 0px; }
    
    form div.custom-input { min-width: 85vw; }
    
    button.video .vid-blackout.active { display: none; }
    
    /* Nav Elements */
    nav .drawer { width: calc(100% - 30px); left: -100vw; }
    
    /* Set Facebook Z Index */

    nav + .container #fb-root { opacity: 1; transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }

    nav.active + .container #fb-root { 
        opacity: 0; z-index: 94 !important; 
        transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; 
    }
    
    /* Mobile Carousel */

    .carousel { scroll-snap-type: x mandatory; -webkit-scroll-snap-scrolling: touch;  }
    .carousel .card { width: 80vw; margin: 0px var(--spacing-grid-half); scroll-snap-align: center; }
    
}
	
	
@media only screen and (max-width: 480px) { }
	

@media only screen and (max-width: 375px) { }
