@charset "UTF-8";
/* CSS Document */
/* Setup Website */

html, div, span, iframe, h1, h2, h3, h4, h5, h6, p, font, img, q, ol, li, ul, form, label, body {
	border: 0; padding: 0; margin: 0; outline: 0;
	vertical-align: baseline; background: transparent;
}

/* Layout Styles */

body { width: 100%; }

.drop-shadow { box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }

.max-width { margin: 0px auto; display: block; max-width: 1000px; }

.half-width { margin: 0px auto; display: block; width: 50%; }

.center-div { margin: 0px auto; display: block; }

.middle-module-parent { display: table; height: 100%; }
.middle-module-child { display: table-cell; vertical-align: middle; height: 100%; }

.bi-col-left { width: 48%; display: inline-block; }
.bi-col-right { width: 48%; display: inline-block; }

.col-top { vertical-align: top; }
.col-mid { vertical-align: middle; }
.col-bottom { vertical-align: middle; }

.middle { vertical-align: middle; display: inline-block; }
.bottom { vertical-align: bottom; }

.title-module { height: 100px; display: block; margin: 0px auto; }
.head-module { height: 180px; display: block; margin: 0px auto; }
.three-quart-module { height: 540px; display: block; margin: 0px auto; }
.full-module { margin: 0px auto; display: block; height: 720px; }
.half-module { margin: 0px auto; display: block; height: 360px; }
.flex-module { margin: 0px auto; display: block; height: 100%; }

.grid-module { display: inline-block; height: 400px; width: 400px; margin: 5px; }
.grid-overlay-parent { display: table; width: 100%; height: 100%; }
.grid-overlay {
	display: table-cell;
	vertical-align: middle;
	height: 100%; width: 100%;
	background-color: rgba(0, 0, 0, .85);
	opacity: 0;
	transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s;
	cursor: pointer
}

.grid-overlay:hover { opacity: 1; transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }

.home-service-section {
	display: inline-block;
	width: 200px;
	margin: 25px;
}

.footer-module {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 100%;
	background: #000000;
}

.xsm-padding { padding: 10px 0px; }
.sm-padding { padding: 25px 0px; }
.med-padding { padding: 50px 0px; }
.large-padding { padding: 75px 0px; }
.xl-padding { padding: 100px 0px; }
.xxl-padding { padding: 150px 0px; }

.sm-gutter { padding: 0px 25px; }
.med-gutter { padding: 0px 50px; }
.large-gutter { padding: 0px 75px; }
.xl-gutter { padding: 0px 100px; }

.xsm-margin { display: inline-block; margin: 0px 10px; }

/** Float Right **/

.float-right { float: right; }

/** YouTube Modal **/

.yt-modal {
	margin: 0px auto;
	display: none;
	position: fixed;
	z-index: 100;
	padding: 50px 0px;
	left: 0; top: 0;
	width: 100%; height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,.75);
}

.modal-content-parent { margin: auto; display: table; width: 80%; }
.modal-content-child { display: table-cell; vertical-align: middle; }

.ytVideo {
	width: 100% !important; height: auto !important;
	padding: 2px;
	background-color: #000;
	display: block;
	margin: 0px auto;
}

.ytButton { margin-top: 10px; }
.play-button:hover { cursor: pointer; opacity: 0.5; }
.rate-button:hover { cursor: pointer; opacity: 0.5; }


/* Typography */

@font-face { font-family: "europa"; font-weight: 500; }

.black { color: #000000; }
.white { color: #FFFFFF; }

.font-subhead, .font-head, 
.font-lg-head, .font-xl-head { font-family: "europa"; line-height: 1.2em; font-weight: 600; }
.font-reg, .font-para { font-family: "europa"; line-height: 1.5em; font-weight: 200; }

.font-reg { font-size: 12pt; }
.font-para { font-size: 16pt; }
.font-button { font-family: "europa"; font-size: 16pt; font-weight: 600; }
.font-subhead { font-size: 24pt; }
.font-head { font-size: 32pt; }
.font-lg-head { font-size: 48pt; }
.font-xl-head { font-size: 60pt; }
.bold { font-weight: 900; }

.underline { padding: 10px 0px; border-top: 2px #000 solid; border-bottom: 2px #000 solid; }
.left-align { text-align: left; }
.center-align { text-align: center; }
.no-wrap { white-space: nowrap; }
.drop-shadow-text { text-shadow: 0px 0px 20px #000; }


/* Button Styles */

.black-button, #submit {
	padding: 5px 20px;
	margin: 10px 10px 10px 0px;
	border: #000 3px solid;
	background-color: transparent;
}

.white-button {
	padding: 5px 20px;
	margin: 10px 10px 10px 0px;
	border: #fff 3px solid;
	background-color: transparent;
}

.black-button:hover, .white-button:hover, #submit:hover {
	opacity: 0.5;
	cursor: pointer;
}

/* Input Fields */

input[type='text'] {
	width: 96%; height: 30px;
	color: #000;
	background: #f0f0f0;
	border: 2px solid #0F0F0F;
	padding: 5px;
	font-family: "europa"; font-size: 12px;
	margin: 5px 0px;
}

textarea {
	width: 96%; height: 150px;
	color: #000;
	background: #f0f0f0;
	border: 2px solid #0F0F0F;
	padding: 5px;
	max-width: 475px;
	font-family: "europa"; font-size: 12px;
	margin: 5px 0px;
}

input[type='text']:focus, textarea:focus {
	border: 2px solid #0056B6;
	outline: none;
	transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	height: 30px; width: 30px;
	background: #fff;
	display: inline-flex;
	border: 2px solid #0F0F0F;
	transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
	vertical-align: middle;
}

input[type='checkbox']:hover {
	background: #f0f0f0;
	transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
	cursor: pointer;
}

input[type='checkbox']:checked {
	background: #0056B6;
	transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
}

/* Image Styles */

.img-xsm-max { display: inline-block; margin: 0px auto 15px; width: 100%; max-width: 100px; }
.img-sm-max { display: inline-block; margin: 0px auto 15px; width: 100%; max-width: 150px; }
.img-med-max { display: inline-block; margin: 0px auto 15px; width: 100%; max-width: 200px; }
.img-large-max { display: inline-block; margin: 0px auto 15px; width: 100%; max-width: 300px; }
.img-xl-max { display: inline-block; margin: 0px auto 15px; width: 100%; max-width: 500px; }

.img-social { width: 40px; height: 40px; }
.img-blog-avatar { display: inline-block; width: 75px; height: 75px; margin: 5px; vertical-align: middle; }

.podcast-badge { display: inline; padding: 25px; height: 50px; width: auto; }
.company-sample-logo { display: inline-block; width: 150px; padding: 10px; }

/** Video sizes **/

.full-video { display: block; width: 100%; height: auto; margin: 0px auto; }

/** Header for Website **/

#home-circle {
	position: fixed;
	top: 10px; left: 10px;
	display: block;
	width: 50px; height: 50px;
	background-color: #000;
	border-radius: 100px;
	z-index: 30;
	opacity: 1;
	transition: 1s; -moz-transition: 1s; -webkit-transition: 1s;
}

#home-circle.fadeOut { opacity: 0; transition: 1s;	-moz-transition: 1s; -webkit-transition: 1s; }

#home-circle-img {
	width: 45px; height: 45px;
	position: relative;
	left: 2px; top: 2px;
}

#body-overlay {
	display: none;
	width: 100%; height: 100%;
	z-index: 45;
	background-color: rgba(0,0,0,0);
	transition: 1s; -moz-transition: 1s; -webkit-transition: 1s;
}

#body-overlay.cover {
	background-color: rgba(0,0,0,.5);
	display: block;
	transition: 1s; -moz-transition: 1s; -webkit-transition: 1s;
}

#navi-drawer {
	height: 100%; width: 500px;
	display: block; position: fixed;
	top: 0px; left: -500px;
	z-index: 50;
	background-color: rgba(0,0,0,.95);
	font-family: 'europa', sans-serif; 
	overflow-x: hidden; overflow-y: scroll;
	transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; -moz-transition: 1s ease-in-out;
}

#navi-logo-section { display: block; width: 100%; z-index: 60; }
#navi-logo-img { width: 60px; height: 60px; }
#navi-top { display: block; width: 100%; z-index: 60; }
#navi-bottom { display: block; position: absolute; width: 100%; bottom: 25px; }
#navi-drawer.open { left: 0px; transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; -moz-transition: 1s ease-in-out; }

/** Navigation Section **/

#navi-top ul {
	z-index: 55;
	list-style: none;
	text-decoration: none;
	display: block;
	padding: 11px 0px;
}
	
#navi-top li { display: block; padding: 10px 0px; }
#navi-top li:hover { opacity: 0.75; }
	
/** Checkbox method for navigation **/

#navIcon {
	z-index: 100;
	width: 50px; height: 50px;
	right: 10px; top: 10px;
	display: block; position: fixed;
	background: #000;
	border-radius: 100px;
	-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out;
	cursor: pointer;
}

#navIcon span {
	display: block;
	height: 5px; width: 30px;
	right: 10px;
	background: #fff;
	border-radius: 9px;
	-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg);
	-webkit-transition: 0.4s ease-in-out; -moz-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out;
}

#navIcon:hover { opacity: 0.75; -webkit-transition: 0.25s; -moz-transition: 0.25s; transition: 0.25s; }

/** Bars for navIcon **/

#navIcon span:nth-child(1) { position: fixed; top: 16px; }
#navIcon span:nth-child(2) { position: fixed; top: 27px; }

#navIcon.open span:nth-child(1) { top: 22px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); transform: rotate(135deg); }
#navIcon.open span:nth-child(2) { top: 22px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); transform: rotate(-135deg); }

/** Nav Links **/

#navi-top li a:link { color: #fff; text-decoration: none; -webkit-transition: 0.25s; -moz-transition: 0.25s; transition: 0.25s; }
#navi-top li a:visited { color: #fff; text-decoration: none; }
#navi-top li a:hover { text-decoration: none; opacity: 0.75; -webkit-transition: 0.25s; -moz-transition: 0.25s; transition: 0.25s; }
#navi-top li a:active { text-decoration: none; }

/** Links **/

a:link { text-decoration: none; -webkit-transition: 0.25s; -moz-transition: 0.25s; transition: 0.25s; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; opacity: 0.5; -webkit-transition: 0.25s; -moz-transition: 0.25s; transition: 0.25s; }
a:active { text-decoration: none; }

/* Fix Grid Links */

.grid-module a:link { text-decoration: none; -webkit-transition: none; -moz-transition: none; transition: none; }
.grid-module a:hover { opacity: 1; }

/* Drop Color Splash Screen */

.white-drop, .pure-white, .black-drop, .pure-black, .red-drop, .blue-drop, .purple-drop, .green-drop, .yellow-drop {
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	background-attachment: scroll; background-position: center;
	z-index: 100;
}

.white-drop { background-image: url(https://empacdesign.com/files/drop-color/white.png); }
.pure-white { background-color: rgba(255,255,255,.75); }
.black-drop { background-image: url(https://empacdesign.com/files/drop-color/black.png); }
.pure-black { background-color: rgba(0,0,0,.75); }
.red-drop { background-image: url(https://empacdesign.com/files/drop-color/red.png); }
.blue-drop { background-image: url(https://empacdesign.com/files/drop-color/blue.png); }
.purple-drop { background-image: url(https://empacdesign.com/files/drop-color/purple.png); }
.green-drop { background-image: url(https://empacdesign.com/files/drop-color/green.png); }
.yellow-drop { background-image: url(https://empacdesign.com/files/drop-color/yellow.png); }

/* Background Images */

#home-splash, #services-splash, #projects-splash, #demarre-main-splash, #onefivetwo-main-splash, #firsttee-main-splash, #hopesparks-main-splash, #l2r-main-splash, #ul-main-splash, #photoSplash, #devSplash, #visualSplash, #digital-splash, #sem-splash, #social-splash, #ad-splash, #branding-splash, #graphic-splash, #media-splash, #darryl-splash, #photo-splash, #video-splash, #analytics-splash, #hosting-splash, #web-design-splash, #website-splash, #seo-splash, #contact-splash, #oe-main-splash, #oe-web-splash, #eagle-main-splash, #eagle-web-splash, #demarre-web-splash, #l2r-web-splash, #l2r-projects-full-module, #eaglemetals-projects-full-module, #oe-projects-full-module {
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	background-attachment: scroll; background-position: center;
	z-index: 1;
}

#home-splash { background-image: url(https://empacdesign.com/files/bg/home/blk-blue-abstract-bg.jpg); }
#services-splash { background-image: url(https://empacdesign.com/files/bg/home/strategy-bw-bg.jpg); }
#projects-splash { background-image: url(https://empacdesign.com/files/bg/home/projects-bw-bg.jpg); }
#contact-splash { background-image: url(https://empacdesign.com/files/splash/contact-splash.jpg); }
#photoSplash { background-image: url(https://empacdesign.com/files/splash/team/photographer-splash.jpg); }
#devSplash { background-image: url(https://empacdesign.com/files/splash/team/developer-splash.jpg); }
#visualSplash { background-image: url(https://empacdesign.com/files/splash/team/wireframe-splash.jpg); }

/* Projects Page Splash Images */

#l2r-projects-full-module { background-image: url(https://empacdesign.com/files/bg/l2r/l2r-projects-module.desktop.jpg); }
#eaglemetals-projects-full-module { background-image: url(https://empacdesign.com/files/bg/eagle-metals/eaglemetals-projects-module.desktop.jpg); }
#oe-projects-full-module { background-image: url(https://empacdesign.com/files/bg/olympic-energy/oe-projects-module.desktop.jpg); }

/* Work Sample Splash Images */

#firsttee-main-splash { background-image: url(https://empacdesign.com/files/bg/first-tee/firsttee-main-splash.desktop.jpg); }
#hopesparks-main-splash { background-image: url(https://empacdesign.com/files/bg/hopesparks/hopesparks-main-splash.desktop.jpg); }
#l2r-main-splash { background-image: url(https://empacdesign.com/files/bg/l2r/l2r-main-splash.desktop.jpg); }
#ul-main-splash { background-image: url(https://empacdesign.com/files/bg/united-lamp/ul-main-splash.desktop.jpg); }
#onefivetwo-main-splash { background-image: url(https://empacdesign.com/files/bg/152/152-main-splash.desktop.jpg); }
#demarre-main-splash { background-image: url(https://empacdesign.com/files/bg/demarre/demarre-main-splash.desktop.jpg); }
#oe-main-splash { background-image: url(https://empacdesign.com/files/bg/olympic-energy/oe-main-splash.desktop.jpg); }
#eagle-main-splash { background-image: url(https://empacdesign.com/files/bg/eagle-metals/eagle-main-splash.desktop.jpg); }
#oe-web-splash { background-image: url(https://empacdesign.com/files/bg/olympic-energy/oe-desktop-bg.jpg); }
#eagle-web-splash { background-image: url(https://empacdesign.com/files/bg/eagle-metals/eagle-desktop-bg.jpg); }
#demarre-web-splash { background-image: url(https://empacdesign.com/files/bg/demarre/demarre-desktop-bg.jpg); }
#l2r-web-splash { background-image: url(https://empacdesign.com/files/bg/l2r/l2r-desktop-bg.jpg); }
#tmo-main-splash { background-color: #e20074; }

/* Digital Section */

#digital-splash { background-image: url(https://empacdesign.com/files/splash/digital/digital-splash.jpg); }
#sem-splash { background-image: url(https://empacdesign.com/files/splash/digital/sem-splash.jpg); }
#social-splash { background-image: url(https://empacdesign.com/files/splash/digital/social-splash.jpg); }

/* Graphic Section */

#ad-splash { background-image: url(https://empacdesign.com/files/splash/graphic/advertising-splash.jpg); }
#branding-splash { background-image: url(https://empacdesign.com/files/splash/graphic/branding-splash.jpg); }
#graphic-splash { background-image: url(https://empacdesign.com/files/splash/graphic/graphic-splash.jpg); }

/* Media Section */

#media-splash { background-image: url(https://empacdesign.com/files/splash/media/media-splash.jpg); }
#darryl-splash { background-image: url(https://empacdesign.com/files/splash/media/darryl-splash.jpg); }
#photo-splash { background-image: url(https://empacdesign.com/files/splash/media/photo-splash.jpg); }
#video-splash { background-image: url(https://empacdesign.com/files/splash/media/video-splash.jpg); }

/* Web Section */

#analytics-splash { background-image: url(https://empacdesign.com/files/splash/web/analytics-splash.jpg); }
#hosting-splash { background-image: url(https://empacdesign.com/files/splash/web/hosting-splash.jpg); }
#web-design-splash { background-image: url(https://empacdesign.com/files/splash/web/web-design-splash.jpg); }
#website-splash { background-image: url(https://empacdesign.com/files/splash/web/website-splash.jpg); }
#seo-splash { background-image: url(https://empacdesign.com/files/splash/web/seo-splash.jpg); }

/* Set Splash Sections for podcast */

#podcast-splash {
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	background-attachment: scroll; background-position: center;
	z-index: 1;
}
#podcast-splash { background-image: url(https://empacdesign.com/files/bg/empac-weekly-bg.jpg); }

/* Set Splash Sections for blog */

#happy2017-splash, #blog-splash, #sanfran-splash, 
#action-sports-splash, #yelp-splash, #budget-splash,
#wordpress-splash, #tehaleh-splash, #pepsi-splash, 
#iot-splash, #snap-splash, #web-cost-splash {
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	background-attachment: scroll; background-position: center;
	z-index: 1;
}


#happy2017-splash { background-image: url(https://empacdesign.com/files/splash/blog/happy-2017-splash.jpg); }
#blog-splash { background-image: url(https://empacdesign.com/files/splash/blog/blog-splash.jpg); }
#sanfran-splash { background-image: url(https://empacdesign.com/files/splash/blog/sanfran-splash.jpg); }
#action-sports-splash { background-image: url(https://empacdesign.com/files/splash/blog/action-sports-splash.jpg); }
#yelp-splash { background-image: url(https://empacdesign.com/files/splash/blog/yelp-splash.jpg); }
#budget-splash { background-image: url(https://empacdesign.com/files/splash/blog/budget-splash.jpg); }
#wordpress-splash { background-image: url(https://empacdesign.com/files/splash/blog/wordpress-splash.jpg); }
#tehaleh-splash { background-image: url(https://empacdesign.com/files/splash/blog/tehaleh-splash.jpg); }
#pepsi-splash { background-image: url(https://empacdesign.com/files/splash/blog/pepsi-splash.jpg); }
#iot-splash { background-image: url(https://empacdesign.com/files/splash/blog/internet-things-splash.jpg); }
#snap-splash { background-image: url(https://empacdesign.com/files/splash/blog/snapchat-splash.jpg); }
#web-cost-splash { background-image: url(https://empacdesign.com/files/splash/blog/web-cost-splash.jpg); }

/* Grid Tiles */

#demarre-grid, #onefivetwo-grid, #hopesparks-grid, #unitedlamp-grid, #firsttee-grid {
	-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; background-size: 100% 100%;
	background-attachment: scroll; background-position: center;
	z-index: 1;
}

#demarre-grid { background-image: url(https://empacdesign.com/files/bg/demarre/demarre-project-grid.jpg); }
#onefivetwo-grid { background-image: url(https://empacdesign.com/files/bg/152/152-project-grid.jpg); }
#hopesparks-grid { background-image: url(https://empacdesign.com/files/bg/hopesparks/hopesparks-project-grid.jpg);	}
#unitedlamp-grid { background-image: url(https://empacdesign.com/files/bg/united-lamp/unitedlamp-project-grid.jpg); }
#firsttee-grid { background-image: url(https://empacdesign.com/files/bg/first-tee/firsttee-project-grid.jpg); }

/* End of all splash sections on website */
/* Blog and Work Cells */

.blog-cell {
	vertical-align: top;
	margin: 10px;
	width: 300px; height: 100%;
	display: inline-block;
	background-color: #F4F4F4;
	box-shadow: 0px 0px 4px rgba(0,0,0,.5);
}

.work-cell {
	vertical-align: top;
	margin: 10px;
	width: 300px; height: 100%;
	display: inline-block;
	background-color: #F4F4F4;
	box-shadow: 0px 0px 4px rgba(0,0,0,.5);
}

.blog-related {
	vertical-align: top;
	margin: 5px;
	width: 250px; height: 100%;
	display: inline-block;
	background-color: #F4F4F4;
	box-shadow: 0px 0px 4px rgba(0,0,0,.5);
}

.work-child, .blog-child { padding: 20px 10px; }

.blog-child-related { padding: 0px 10px; }

.blog-button, .work-button {
	background: #000;
	width: 100%;
	padding: 15px 0px;
	-webkit-transition: 0.25s; -moz-transition: 0.25s;	transition: 0.25s;
}

.blog-button:hover, .work-button:hover {
	background: #00a0dc;
	-webkit-transition: 0.25s; -moz-transition: 0.25s;	transition: 0.25s;
}

/* Tablet */

@media only screen and (max-width: 720px) {
	
	/* Typography */

	.font-reg { font-size: 10pt; }
	.font-para { font-size: 12pt; }
	.font-button { font-size: 12pt; }
	.font-subhead { font-size: 18pt; }
	.font-head { font-size: 24pt; }
	.font-lg-head { font-size: 30pt; }
	.font-xl-head { font-size: 34pt; }
	
	/* Image Styles */
	
	.img-xsm-max { max-width: 75px; }
	.img-sm-max { max-width: 100px; }
	.img-med-max { max-width: 150px; }
	.img-large-max { max-width: 200px; }
	.img-xl-max { max-width: 300px; }
	
	/* Blog and Work Related */
	
	.work-cell-parent { margin: 10px 0px; display: block; }
	
	/* Adjust Background Images */
	
	#firsttee-main-splash { background-image: url(https://empacdesign.com/files/bg/first-tee/firsttee-main-splash.tablet.jpg); }
	#hopesparks-main-splash { background-image: url(https://empacdesign.com/files/bg/hopesparks/hopesparks-main-splash.tablet.jpg); }
	#l2r-main-splash { background-image: url(https://empacdesign.com/files/bg/l2r/l2r-main-splash.tablet.jpg); }
	#ul-main-splash { background-image: url(https://empacdesign.com/files/bg/united-lamp/ul-main-splash.tablet.jpg); }
	#onefivetwo-main-splash { background-image: url(https://empacdesign.com/files/bg/152/152-main-splash.tablet.jpg); }
	#demarre-main-splash { background-image: url(https://empacdesign.com/files/bg/demarre/demarre-main-splash.tablet.jpg); }
	#oe-main-splash { background-image: url(https://empacdesign.com/files/bg/olympic-energy/oe-main-splash.tablet.jpg); }
	#eagle-main-splash { background-image: url(https://empacdesign.com/files/bg/eagle-metals/eagle-main-splash.tablet.jpg); }
	
	/* Projects Page Splash Images */

	#l2r-projects-full-module { background-image: url(https://empacdesign.com/files/bg/l2r/l2r-projects-module.tablet.jpg); }
	#eaglemetals-projects-full-module { background-image: url(https://empacdesign.com/files/bg/eagle-metals/eaglemetals-projects-module.tablet.jpg); }
	#oe-projects-full-module { background-image: url(https://empacdesign.com/files/bg/olympic-energy/oe-projects-module.tablet.jpg); }
	
}

/* Break Bifold */

@media only screen and (max-width: 550px) {
	
	/* Navigation Adjust */
	
	#homeGraphic { width: 45px; height: 45px; padding: 2px 0px; }
	
	/* Layout */
	
	.bi-col-left, .bi-col-right { width: 100%; display: block; }
	.bi-col-left button, .bi-col-right button { display: block; margin: 0px auto; }
	
	.col-bottom { position: relative; top: 100px; vertical-align: bottom; }
	.col-show { display: block; }
	.col-hide { display: none; }
	
	/** Float Right **/
	
	.float-right { float: none; }
	
	.podcast-badge {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	/* Adjust Project Page Module Positions */
	
	#l2r-projects-full-module, #eaglemetals-projects-full-module, #oe-projects-full-module {
		background-position: top;
	}
	
	/* Projects Page Splash Images */
	#l2r-projects-full-module { background-image: url(https://empacdesign.com/files/bg/l2r/l2r-projects-module.mobile.jpg); }
	#eaglemetals-projects-full-module { background-image: url(https://empacdesign.com/files/bg/eagle-metals/eaglemetals-projects-module.mobile.jpg); }
	#oe-projects-full-module { background-image: url(https://empacdesign.com/files/bg/olympic-energy/oe-projects-module.mobile.jpg); }
}

/* Break Navigation and Adjust Gutters */

@media only screen and (max-width: 500px) {
	
	/* Adjust Gutters */
	
	.sm-gutter { padding: 0px 10px; }
	.med-gutter { padding: 0px 20px; }
	.large-gutter { padding: 0px 30px; }
	.xl-gutter { padding: 0px 40px; }
	
	/* Blog and Work Relatec */
	
	.blog-cell, .work-cell {
		margin: 10px 0px;
		width: 100%;
		background-color: transparent;
		box-shadow: none;
	}
	
	.blog-child, .work-child {
		padding: 20px;
	}
	
	/* Adjust Background Images */
	
	#firsttee-main-splash { background-image: url(https://empacdesign.com/files/bg/first-tee/firsttee-main-splash.mobile.jpg); }
	#hopesparks-main-splash { background-image: url(https://empacdesign.com/files/bg/hopesparks/hopesparks-main-splash.mobile.jpg); }
	#l2r-main-splash { background-image: url(https://empacdesign.com/files/bg/l2r/l2r-main-splash.mobile.jpg); }
	#ul-main-splash { background-image: url(https://empacdesign.com/files/bg/united-lamp/ul-main-splash.mobile.jpg); }
	#onefivetwo-main-splash { background-image: url(https://empacdesign.com/files/bg/152/152-main-splash.mobile.jpg); }
	#demarre-main-splash { background-image: url(https://empacdesign.com/files/bg/demarre/demarre-main-splash.mobile.jpg); }
	#oe-main-splash { background-image: url(https://empacdesign.com/files/bg/olympic-energy/oe-main-splash.mobile.jpg); }
	#eagle-main-splash { background-image: url(https://empacdesign.com/files/bg/eagle-metals/eagle-main-splash.mobile.jpg); }
	
	/* Adjust Images Sizes to Full Mobile */
	/* Image Styles */
	
	.img-xsm-max, .img-sm-max, .img-med-max, .img-large-max, .img-xl-max { width: 75%; max-width: 500px; }
	
	.grid-module { height: 175px; width: 175px; }
	.grid-overlay { opacity: 1; background-color: rgba(0,0,0,.6); }
	
	#navi-bottom { position: static; padding-top: 100px; }
	
	.black-button, .white-button { display: block; margin: 0px auto; }
}

/* Mobile */

@media only screen and (max-width: 400px) {
	
	/* Typography */
	
	.font-subhead { font-size: 12pt; }
	.font-head { font-size: 16pt; }
	.font-lg-head { font-size: 20pt; }
	.font-xl-head { font-size: 25pt; }
	
	/* Image Styles */
	
	.img-xsm-max { max-width: 50px; }
	.img-sm-max { max-width: 75px; }
	.img-med-max { max-width: 100px; }
	.img-large-max { max-width: 150px; }
	.img-xl-max { max-width: 200px; }
	
}
