@charset "UTF-8";
/* Navigation Stylesheet for Empac.co */
/* By Britton Lorentzen [brittonlorentzen@gmail.com, blorentz.com] */

.nav-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: linear-gradient(30deg, var(--color-brand-700), var(--color-brand-500));
	box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.2);
	position: sticky;
	top: 0px;
	z-index: 100;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem;
	max-width: 1620px;
}

nav .logo {
	height: 20px;
	width: auto;
}

nav ul.main {
	display: flex;
	align-items: center;
	gap: 2rem;
	list-style: none;
}

nav ul.main li {
	font-weight: 700;
}

nav ul.main li a {
	position: relative;
	color: var(--color-black-000);
}

nav ul.main li a:not(.btn)::after {
	position: absolute;
	content: '';
	width: 0%;
	height: 2px;
	bottom: -2px;
	background: linear-gradient(var(--color-brand-500), var(--color-brand-700));
	transition: 0.25s;
}

nav ul.main li a:hover::after {
	width: 100%;
	transition: 0.25s;
}

nav ul.main li a:hover {
	color: var(--color-brand-500);
}

nav ul.main li ul {
	display: none;
}

nav button.menu {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	padding: 2px;
	gap: 0.75rem;
	background: transparent;
	box-shadow: none;
}

nav button.menu span {
	width: 100%;
	position: relative;
	height: 4px;
	border-radius: 2px;
	background: var(--color-black-000);
	transition: 0.25s;
}

/* Standard Desktop */

@media only screen and (max-width: 1440px) {}

/* Smaller Desktop */

@media only screen and (max-width: 1280px) {}

/* Tablet Breakpoints */

@media only screen and (max-width: 1024px) {

	nav ul.main {
		gap: 1.5rem;
	}

	nav ul.main li a {
		font-size: .875rem;
	}

}

@media only screen and (max-width: 768px) {}

/* Mobile Breakpoints */

@media only screen and (max-width: 640px) {

	nav ul.main {
		display: none;
		overflow: hidden;
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		height: 0svh;
		width: calc(100% - 2rem);
		padding: 1rem;
		gap: 2rem;
		top: 70px;
		left: 0px;
		background: var(--color-white-100);
		transition: height 0.5s;
	}

	nav ul.main.active {
		display: flex;
		opacity: 1;
		height: 100svh;
		transition: height 0.5s;
	}

	@starting-style {
		nav ul.main {
			height: 100svh;
			display: flex;
		}

		nav ul.main.active {
			height: 0svh;
		}
	}

	nav ul.main li {
		margin-inline: 1rem;
		margin-block-start: 1rem;
		width: calc(100% - 2rem);
	}

	nav ul.main li a {
		font-size: 1.5rem;
	}

	nav ul.main li ul {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		height: auto;
		position: relative;
		margin-block-start: 2rem;
	}

	nav ul.main li ul li {
		display: flex;
		gap: 1rem;
		margin-inline: 0rem;
	}

	nav ul.main li ul li:before {
		content: '\003E';
		font-size: 1rem;
	}

	nav ul.main li a.btn.primary {
		font-size: 1.5rem;
		padding: 1.25rem;
	}

	nav button.menu {
		display: flex;
	}

	nav button.menu.active {
		gap: 0rem;
	}

	nav button.menu.active span:first-child {
		transform: rotate(45deg);
		top: 2px;
	}

	nav button.menu.active span:last-child {
		transform: rotate(-45deg);
		bottom: 2px;
	}

}


@media only screen and (max-width: 480px) {}


@media only screen and (max-width: 375px) {}