/** CSS sheet for EMPAC Design, designed by Britton Lorentzen **/
/** Adjustment for Desktop **/

/** Reset variable for any inconsistencies **/

html, div, span, applet, object, iframe, h1, h2, h3, h4, 
h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, font, img, ins, kbd, q, 
s, samp, small, strike, strong, sub, sup, tt, var, b, u, 
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, caption {
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

/** Reset Body Margin **/

body {
	margin: 0px;
	min-width: 900px;
}

/** Custom Height Settings Set by JS **/

#setHeight {
	background: none;
}

/** Block from Downloading **/

.blocker {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0);
	z-index: 2;
}

.blockerneath {
	z-index: 1;
}

/** Bifold Sample **/

.bifold {
	width: 49%;
	display: inline-block;
}

/** Make White Space for Text **/
.container {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 75%;
}

.blog-container {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 60%;
}

.title-table, .home-splash-table {
	background: rgba(255,255,255, .75);
}

.foot-contain {
	padding: 20px;
}

.lineItUp {
	display: inline-block;
}

/** Minor Layout Adjustments */

.top {
	vertical-align: top;
}

.middle {
	vertical-align: middle;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.table404, .teamTable, .basic-table, .table-thankyou {
	width: 100%;
	display: table;
}

.splashMiddle, .textMiddle, .mid404, .mid-thankyou {
	display: table-cell;
	vertical-align: middle;
}

.horizonCenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
}

.mediumPadding {
	padding: 40px;
}

.picPadding {
	padding: 5px 10px 5px 0px
}

.tbSpacing {
	padding: 75px 0px;
}

.titleSpacing {
	padding-top: 50px;
}

.firstTableTopMargin {
	margin-top: 75px;
}

.leftAlignText {
	text-align: left;
}

.centerAlignText {
	text-align: center;
}

.fbCommentResize {
	width: 100%;
}

/** Setting Classes for Table Widths **/

.largeMax {
	max-width: 1500px;
}

.copyMax {
	max-width: 1200px;
}

.medMax {
	max-width: 1000px;
}

/* Stylistic Things */

.dropShadow {
	box-shadow: 0px 0px 5px #555;
}

.grayBack {
	background: #F5F5F5;
}

hr {
	border: #000 1px solid;
	margin: 15px 0px;
	width: 100px;
}

/** Hide Overflow **/

.hideOverflow {
	overflow: hidden;
	max-height: 375px;
	border-bottom: #000 thin solid;
	box-shadow: inset 0px -5px 7px -8px #111;
	z-index: 2;
}

/** Image Links **/

.hideOverflow a img {
	opacity: 1.0;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	transform: translateY(15px);
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}

.hideOverflow a img:hover {
	opacity: .9;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
	
}

/** Font face and other links **/

@font-face {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

/** Main Fonts, Body Type, Feedback Quotes **/

.black {
	color: #000;
}

.white {
	color: #fff;
}

.regFont, .paraFont, .naviFont, .subFont, .displayFont {
	letter-spacing: .025em;
	line-height: 1.6em;
	font-weight: 500;
}

.regFont {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.paraFont {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.naviFont {
	font-family: 'Roboto', sans-serif; 
	font-size: 18px;
}

.subFont {
	font-family: 'Roboto', sans-serif; 
	font-size: 24px;
}

.displayFont {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
}

.oversizeFont {
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	font-weight: 700;
}

b {
	font-weight: 900;
}

/** Set Height for Sample Splash Pages so JS can Identify Height **/

.sampleSplash {
	height: 400px;	
}

/* Set Splash Sections on Website */

/* Drop Color Splash Screen */

#white-drop, #black-drop, #red-drop,
#blue-drop, #purple-drop, #green-drop,
#yellow-drop {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	z-index: 1;
}

#white-drop {
	background-image: url(https://empacdesign.com/files/drop-color/white.png);
}

#black-drop {
	background-image: url(https://empacdesign.com/files/drop-color/black.png);
}

#red-drop {
	background-image: url(https://empacdesign.com/files/drop-color/red.png);
}

#blue-drop {
	background-image: url(https://empacdesign.com/files/drop-color/blue.png);
}

#purple-drop {
	background-image: url(https://empacdesign.com/files/drop-color/purple.png);
}

#green-drop {
	background-image: url(https://empacdesign.com/files/drop-color/green.png);
}

#yellow-drop {
	background-image: url(https://empacdesign.com/files/drop-color/yellow.png);
}

#home-splash, #services-splash, #demarreSplash, #oneFTSplash, #firstTeeSplash, #hopesparksSplash, 
#l2rSplash, #noxySplash, #unitedLampSplash, #epSplash, #photoSplash, #devSplash, #visualSplash, #digital-splash, #sem-splash,
#social-splash, #ad-splash, #branding-splash, #graphic-splash,
#media-splash, #darryl-splash, #photo-splash, #video-splash,
#analytics-splash, #hosting-splash, #web-design-splash, 
#website-splash, #seo-splash, #contact-splash, #oe-main-splash, #oe-web-splash {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	z-index: 1;
}

#home-splash {
	background-image: url(https://empacdesign.com/files/bg/north-seattle-splash.jpg);
}

#services-splash {
	background-image: url(https://empacdesign.com/files/bg/whiteboard-splash.jpg);
}

#contact-splash {
	background-image: url(https://empacdesign.com/files/splash/contact-splash.jpg);
}

#photoSplash {
	background-image: url(https://empacdesign.com/files/splash/team/photographer-splash.jpg);
}

#devSplash {
	background-image: url(https://empacdesign.com/files/splash/team/developer-splash.jpg);
}

#visualSplash {
	background-image: url(https://empacdesign.com/files/splash/team/wireframe-splash.jpg);
}

/* Work Sample Splash Images */

#firstTeeSplash {
	background-image: url(https://empacdesign.com/files/splash/work-samples/firsttee-splash.jpg);
}

#hopesparksSplash {
	background-image: url(https://empacdesign.com/files/splash/work-samples/hopesparks-splash.jpg);
}

#l2rSplash {
	background-image: url(https://empacdesign.com/files/splash/work-samples/l2r-splash.jpg);
}

#noxySplash {
	background-image: url(https://empacdesign.com/files/splash/work-samples/noxy-splash.jpg);
}

#unitedLampSplash {
	background-image: url(https://empacdesign.com/files/splash/work-samples/ul-splash.jpg);
}

#epSplash {
	background-image: url(https://empacdesign.com/files/splash/work-samples/ep-splash.jpg);
}

#oneFTSplash {
	background-image: url(https://empacdesign.com/files/splash/work-samples/152-splash.jpg);
}

#demarreSplash {
	background-image: url(https://empacdesign.com/files/splash/work-samples/demarre-splash.jpg);
}

#oe-main-splash {
	background-image: url(https://empacdesign.com/splash/work-samples/oe-splash.jpg);
}

#oe-web-splash {
	background-image: url(https://empacdesign.com/bg/olympic-energy/oe-desktop-bg.jpg);
}

/* Digital Section */

#digital-splash {
	background-image: url(https://empacdesign.com/files/splash/digital/digital-splash.jpg);
}

#sem-splash {
	background-image: url(https://empacdesign.com/files/splash/digital/sem-splash.jpg);
}

#social-splash {
	background-image: url(https://empacdesign.com/files/splash/digital/social-splash.jpg);
}

/* Graphic Section */

#ad-splash {
	background-image: url(https://empacdesign.com/files/splash/graphic/advertising-splash.jpg);
}

#branding-splash {
	background-image: url(https://empacdesign.com/files/splash/graphic/branding-splash.jpg);
}

#graphic-splash {
	background-image: url(https://empacdesign.com/files/splash/graphic/graphic-splash.jpg);
}

/* Media Section */

#media-splash {
	background-image: url(https://empacdesign.com/files/splash/media/media-splash.jpg);
}

#darryl-splash {
	background-image: url(https://empacdesign.com/files/splash/media/darryl-splash.jpg);
}

#photo-splash {
	background-image: url(https://empacdesign.com/files/splash/media/photo-splash.jpg);
}

#video-splash {
	background-image: url(https://empacdesign.com/files/splash/media/video-splash.jpg);
}

/* Web Section */

#analytics-splash {
	background-image: url(https://empacdesign.com/files/splash/web/analytics-splash.jpg);
}

#hosting-splash {
	background-image: url(https://empacdesign.com/files/splash/web/hosting-splash.jpg);
}

#web-design-splash {
	background-image: url(https://empacdesign.com/files/splash/web/web-design-splash.jpg);
}

#website-splash {
	background-image: url(https://empacdesign.com/files/splash/web/website-splash.jpg);
}

#seo-splash {
	background-image: url(https://empacdesign.com/files/splash/web/seo-splash.jpg);
}

/* Set Splash Sections for blog */

#happy2017-splash, #blog-splash, #sanfran-splash, 
#action-sports-splash, #yelp-splash, #budget-splash,
#wordpress-splash, #tehaleh-splash, #pepsi-splash, 
#iot-splash, #snap-splash, #web-cost-splash {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	z-index: 1;
}


#happy2017-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/happy-2017-splash.jpg);
}

#blog-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/blog-splash.jpg);
}
#sanfran-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/sanfran-splash.jpg);
}

#action-sports-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/action-sports-splash.jpg);
}

#yelp-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/yelp-splash.jpg);
}

#budget-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/budget-splash.jpg);
}

#wordpress-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/wordpress-splash.jpg);
}

#tehaleh-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/tehaleh-splash.jpg);
}

#pepsi-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/pepsi-splash.jpg);
}

#iot-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/internet-things-splash.jpg);
}

#snap-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/snapchat-splash.jpg);
}

#web-cost-splash {
	background-image: url(https://empacdesign.com/files/splash/blog/web-cost-splash.jpg);
}

/* End of all splash sections on website */

/* Image Sizing */

.home-icon {
	width: 150px;
}

.cellDisplay {
	margin: 10px;
	width: 150px;
	display: inline-block;
}

.digital-icon {
	height: 200px;
}

.dreamhost-icon {
	width: 300px;
}

.dreamhost-pic {
	height: 100px;
}

#uhoh {
	margin-bottom: 25px;
	width: 150px;
}

.team-profile {
	width: 300px;
	margin: 5px;
}

.company-sample-logo {
	width: 150px;
	padding: 10px;
	display: inline-block;
}

.picSample {
	width: 600px;
}

/* Section Sizing */

#splash {
	height: 800px;
}

.hero-section {
	width: 100%;
	display: table;
	height: 800px;
}

.home-service-section {
	display: inline-block;
	width: 200px;
	margin: 25px;
}

.blog-cell {
	vertical-align: top;
	margin: 10px;
	width: 300px;
	height: 100%;
	display: inline-block;
	background-color: #F4F4F4;
	box-shadow: 0px 0px 4px rgba(0,0,0,.5);
}

.work-cell {
	vertical-align: top;
	margin: 10px;
	width: 300px;
	height: 100%;
	display: inline-block;
	background-color: #F4F4F4;
	box-shadow: 0px 0px 4px rgba(0,0,0,.5);
}

.blog-related {
	vertical-align: top;
	margin: 5px;
	width: 250px;
	height: 100%;
	display: inline-block;
	background-color: #F4F4F4;
	box-shadow: 0px 0px 4px rgba(0,0,0,.5);
}

.work-child, .blog-child {
	padding: 20px 10px;
}

.blog-child-related {
	padding: 0px 10px;
}

/* Button Sizing */

button {
	background: #111;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Roboto', sans serif;
	color: #fff;
	font-size:14px;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;	
	transition: 0.25s;
}

button:hover {
	background: #00a0dc;
	border: 1px solid #00a0dc;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;	
	transition: 0.25s;
}

button:active {
	background: #29C4FF;
	border: 1px solid #29C4FF;
}

.whiteButton button {
	background: #fff;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	border: 1px solid #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Roboto', sans serif;
	color: #000;
	font-size:14px;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;	
	transition: 0.25s;
}

.whiteButton button:hover {
	background: #00a0dc;
	color: #fff;
	border: 1px solid #00a0dc;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;	
	transition: 0.25s;
}

.whiteButton button:active {
	background: #29C4FF;
	color: #fff;
	border: 1px solid #29C4FF;
}

.blog-button, .work-button {
	background: #000;
	width: 100%;
	padding: 15px 0px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;	
	transition: 0.25s;
}

.blog-button:hover, .work-button:hover {
	background: #00a0dc;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;	
	transition: 0.25s;
}

/** Setting EMPAC Logo **/

.displayButton {
	width: 50px;	
}

/** Header for Website **/

#homeGraphic {
	background-image: url(https://empacdesign.com/files/empac-logo/logo-white.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	width: 60px;
	height: 60px;
	padding: 5px 0px;
	float: left;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

#homeGraphic:hover {
	opacity: .5;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

#header {
	width: 100%;
	height: 75px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}

/** Navigation Section **/

nav {
	display: inline-block;
	float: right;
	z-index: 60;
}

nav ul {
	z-index: 55;
	list-style: none;
	text-decoration: none;
	display: inline-block;
	clear: both;
	padding: 11px 0px;
}
	
nav li {
	display: inline-block;
	text-align: center;
	padding: 10px 15px;
}

nav li:hover {
	opacity: 0.75;
}

.naviHidden {
	display: hidden;
}
	
/** Checkbox method for navigation **/

#navIcon {
	z-index: 100;
	width: 40px;
	height: 40px;
	right: 5px;
	top: 1px;
	display: none;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

#navIcon span {
	display: none;
	height: 5px;
	width: 30px;
	background: #fff;
	border-radius: 9px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

#navIcon:hover {
	opacity: 0.75;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}

/** Bars for navIcon **/

#navIcon span:nth-child(1) {
	position: fixed;
	top: 15px;
}

#navIcon span:nth-child(2) {
	position: fixed;
	top: 25px;
}

#navIcon.open span:nth-child(1) {
	top: 20px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	transform: rotate(135deg);
}

#navIcon.open span:nth-child(2) {
	top: 20px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

/** Nav Links **/

nav a:link {
	text-decoration: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}

nav a:visited {
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
	opacity: 0.75;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}

nav a:active {
	text-decoration: none;
}

/** Links **/

a:link {
	text-decoration: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	opacity: 0.5;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}

a:active {
	text-decoration: none;
}

/** Footer Menu **/

footer {
	height: 150px;
	display: block;
	background-color: #000;	
}

footer .social {
	width: 30px;
	height: 30px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}

footer .social:hover {
	opacity: .5;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}

/** Black Social Icons **/

.blkSocial {
	width: 50px;
	height: 50px;
}

/** Picture Buttons **/

.picButton {
	width: 200px;
}

.picButtonHome {
	width: 200px;
}

/** Centered Badges */

.badge {
	width: 200px;
	margin-bottom: 15px;
}

/** Badges */

.serviceBadge {
	width: 150px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.feedbackBadge {
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

/** Services Card CSS **/

.serviceCard {
	display: inline-block;
	width: 250px;
	padding: 20px;
	vertical-align: top;
}

/** Feedback Card CSS **/

.feedbackCard {
	display: inline-block;
	width: 250px;
	padding: 20px;
	vertical-align: top;
}

/** Rack Card Samples CSS **/

.rackCardSample {
	display: inline-block;
	width: 250px;
	padding: 10px 5px;
	vertical-align: top;
}

/** Emerald Pacific Design Samples CSS **/

.epDesignSample {
	display: inline-block;
	height: 400px;
	width: 250px;
	padding: 10px 5px;
}

.epDesignTitle {
	height: 50px;
	width: 250px;
	background: rgba(0, 0, 0, .85);
	bottom: 0;
	display: table;
}

/** United Lamp Samples CSS **/

.ulIcon {
	display: inline-block;
	width: 33%;
}

.ulFull {
	display: block;
	width: 100%;
}

.company-sample-section {
	height: 100%;
	min-height: 300px;
}

/** Adjust When Trifold has Multiple Els */

.picAdjust {
	width: 33%;
}

/** Contact Forms **/

form {
	width: 95%;
	padding-left: 5px;
	
}

input[type='text'], input[type='email'], textarea {
	width: 95%;
	height: 20px;
	color: #000;
	background: #F3F3F3;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #CCC;
	padding: 8px;
	margin-top: 3px;
	font-family: 'Roboto', sans serif;
}

input[type='text']:focus, input[type='email']:focus, textarea:focus {
	border: 1px solid #008DFF;
	outline: none;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}
	
textarea {
	height: 250px;
	max-height: 400px;
	max-width: 900px;
	font-family: 'Roboto', sans serif;
}

.mailchimp-email {
	max-width: 450px;
}

#submit {
	background: #111;
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-family: 'Roboto', sans serif;
	color: #fff;
	font-size:14px;
	margin-top: 5px;
	margin-bottom: 5px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;	
	transition: 0.25s;
	
}

#submit:hover {
	background: #00a0dc;
	border: 1px solid #00a0dc;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;	
	transition: 0.25s;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
	display: inline-flex;
    border-radius:5px;
    border:2px solid #555;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}

input[type='checkbox']:hover {
    background: #ddd;
	cursor: pointer;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}

input[type='checkbox']:checked {
    background: #008DFF;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}

@media only screen and (max-width: 1260px) {
	
	#splash {
		height: 600px;
	}
	
	.hero-section {
		height: 600px;
	}
	
}

/** Adjustment for Mobile **/

@media only screen and (max-width : 750px) {
	
	.container, .blog-container {
		width: 75%;
	}
	
	footer {
		height: 100%;
	}
	
	.floatLeft, .floatRight {
		float: none;
	}
	
	.sampleSplash {
		height: 400px;	
	}

	body {
		min-width: 600px;
	}
	
	#header {
		height: 50px;
	}
	
	.team_photo {
		width: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.oversizeFont {
		font-size: 32px;
	}
	
	.displayFont {
		font-size: 24px;
	}
	
	.subFont {
		font-size: 16px;
	}
	
	.paraFont {
		font-size: 14px;
	}
	
	.naviFont {
		font-size: 12px;
	}
	
	#homeGraphic {
		width: 45px;
		height: 45px;
		padding: 2px 0px;
	}
	
	nav ul {
		padding: 0px;
	}
	
	nav li {
		margin-top: 5px;
	}
	
	.serviceBadge {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	/** Buttons */
	
	button {
		font-size: 12px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	.whiteButton button {
		font-size: 12px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	.displayButton {
		width: 35px;	
	}
	
	/** Picture Buttons **/

	.picButton {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.picButtonHome {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.picSample {
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
		
	.bifold, .bifold-home, 
	.work-cell-parent, .epDesignTitle, 
	.epDesignSample, .ulIcon, .dreamhost-icon {
		width: 100%;
	}
	
	.work-cell-parent {
		margin: 10px 0px;
		display: block;
	}
	
	.epDesignSample {
		padding: 0px;
	}
	
	.ulIcon {
		display: block;
	}
		
}

@media only screen and (max-width : 500px) {
	
	.firstTableTopMargin {
		margin-top: 50px;
	}
	
	.tbSpacing {
		padding: 35px 0px;
	}
	
	.container, .blog-container {
		width: 85%;
	}
	
	body {
		min-width: 300px;
	}
	
	.sampleSplash {
		height: 300px;	
	}
	
	.mediumPadding {
		padding: 10px;
	}
	
	#header {
		height: 50px;
	}
	
	nav {
		float: none;
	}
	
	nav ul {
		position: fixed;
		top: 50px;
		width: 100%;
	}
	
	nav li {
		display: block;
		margin: 20px 0px;
	}
	
	.mobileBacker {
		background-color: rgba(0,0,0,0);
	}
	
	#menu {
		z-index: 40;
		top: -500px;
		right: 0px;
		opacity: 0;
		transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
	}
	
	#menu.open {
		top: 50px;
		opacity: 1;
		transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
	}
	
	#navIcon {
		position: fixed;
		right: 5px;
		display: block;
	}
	
	#navIcon span {
		display: block;
	}
	
	/** Adjust Carousel for Mobile **/
	
	.picButtonHome {
		width: 150px;
	}
	
	.carousel-cell {
		width: 100%;
		height: 400px;
	}
	
	.hero-section {
		height: 450px;
	}
	
	.blog-cell, .work-cell {
		margin: 10px 0px;
		width: 100%;
		background-color: transparent;
		box-shadow: none;
	}
	
	.blog-child, .work-child {
		padding: 20px;
	}
	
	/** Content for Splash Carousel **/

	.splash-light, .talk-bubble {
		height: 100px;
		padding: 25px
	}

	.web-design-tri {
		height: 125px;
		padding: 25px;
	}

	.carousel-social {
		height: 50px;
		padding: 10px;
	}
	
	.epDesignSample {
		width: 100%;
	}

	.epDesignTitle {
		width: 100%;
	}
	
}