@charset "UTF-8";
/* CSS Document */

/* Formatting for showing code */
pre,
code {
	width: 100%;
}

pre {
	overflow-y: auto;
	max-height: 450px;
	width: calc(100% - 2rem);
	padding: 1rem;
	background-color: var(--color-black-200);
	white-space: normal;
	-moz-border-radius: var(--border-radius);
	-webkit-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

pre::-webkit-scrollbar {
	height: 10px;
	width: 10px;
	background: var(--color-black-200);
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

pre::-webkit-scrollbar-track {
	background: var(--color-black-200);
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

pre::-webkit-scrollbar-thumb {
	border: 2px solid var(--color-black-200);
	-webkit-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
	background: var(--color-white-100);
	transition: 0.25s;
	-webkit-transition: 0.25s;
}

pre::-webkit-scrollbar-thumb:hover {
	background: var(--color-white-000);
	transition: 0.25s;
	-webkit-transition: 0.25s;
	cursor: grab;
}

code {
	line-height: 2rem;
	color: var(--color-white-000);
}

code br {
	display: block;
	margin-bottom: 1.5em;
}

code span.key {
	color: var(--color-brand-500);
}

/* Standard Desktop */

@media only screen and (max-width: 1440px) {}

/* Smaller Desktop */

@media only screen and (max-width: 1280px) {}

/* Tablet Breakpoints */

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {}

/* Mobile Breakpoints */

@media only screen and (max-width: 640px) {}


@media only screen and (max-width: 480px) {}


@media only screen and (max-width: 375px) {}