@charset "UTF-8";
/* CSS Document */
/* Banner for EmpacJS */

.ejs-banner {
	display: flex;
	flex-direction: row;
	width: calc(100% - 16px);
	margin: 8px auto 10px;
	justify-content: space-between;
	align-items: center;
	background: #000;
	broder-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.ejs-banner div {
	display: flex;
	align-items: center;
	width: calc(50% - 16px);
	padding: 8px;
}

.ejs-banner div:first-child {
	justify-content: flex-start;
}

.ejs-banner div:last-child {
	justify-content: flex-end;
}

.ejs-banner img {
	height: 25px;
	width: auto;
}

.ejs-banner a {
	color: var(--color-white-000);
	font-size: 14px;
	text-decoration: none;
	font-weight: 900;
}

.ejs-banner a:hover {
	opacity: 0.75;
}

.ejs-banner a:after {
	content: '\203A';
	margin-left: 5px;
	transition: 0.25s;
	-moz-transition: 0.25s;
	-webkit-transition: 0.25s;
}

.ejs-banner a:hover:after {
	margin-left: 10px;
	transition: 0.25s;
	-moz-transition: 0.25s;
	-webkit-transition: 0.25s;
}