@charset "UTF-8";
/* Typography */
/* By Britton Lorentzen [brittonlorentzen@gmail.com, blorentz.com] */

/* Text Specifics */
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

span {}

p {
	font-family: var(--font-display);
	font-size: 1.25rem;
	line-height: 1.5em;
}

p b {
	font-weight: 900;
}

h1,
h2 {
	font-family: var(--font-display);
	font-weight: 700;
	line-height: 1.1em;
}

h3,
h4 {
	font-family: var(--font-display);
	font-weight: 600;
	line-height: 1.3em;
}

h5,
h6 {
	font-family: var(--font-display);
	font-weight: 500;
	line-height: 1.3em;
}



.callout {
	color: var(--color-brand-500);
}

/* Sizing for headline */
[size="hl-xlarge"] {
	font-size: 5rem;
	margin-bottom: 1rem;
}

[size="hl-large"] {
	font-size: 4rem;
	margin-bottom: 1rem;
}

[size="hl-medium"] {
	font-size: 3.5rem;
	margin-bottom: 1rem;
}

[size="hl-small"] {
	font-size: 3rem;
	margin-bottom: 1rem;
}

[size="hl-xsmall"] {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

[size="section-large"] {
	font-size: 2.25rem;
	margin-bottom: 0.75rem;
}

[size="section-medium"] {
	font-size: 2rem;
	margin-bottom: 0.75rem;
}

[size="section-small"] {
	font-size: 1.75rem;
	margin-bottom: 0.75rem;
}

[size="section-xsmall"] {
	font-size: 1.5rem;
	margin-bottom: 0.75rem;
}

/* Custom Headline Styling */

.split-headline {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* Standard Desktop */

@media only screen and (max-width: 1440px) {

	/* Sizing for headline */
	[size="hl-xlarge"] {
		font-size: 4.5rem;
	}

	[size="hl-large"] {
		font-size: 3.5rem;
	}

	[size="hl-medium"] {
		font-size: 3rem;
	}

	[size="hl-small"] {
		font-size: 2.5rem;
	}

	[size="hl-xsmall"] {
		font-size: 2.25rem;
	}

	[size="section-large"] {
		font-size: 2rem;
	}

	[size="section-medium"] {
		font-size: 1.75rem;
	}

	[size="section-small"] {
		font-size: 1.5rem;
	}

	[size="section-xsmall"] {
		font-size: 1.25rem;
	}
}

/* Smaller Desktop */

@media only screen and (max-width: 1280px) {}

/* Tablet Breakpoints */

@media only screen and (max-width: 1024px) {

	/* Sizing for headline */
	[size="hl-xlarge"] {
		font-size: 4rem;
	}

	[size="hl-large"] {
		font-size: 3rem;
	}

	[size="hl-medium"] {
		font-size: 2.5rem;
	}

	[size="hl-small"] {
		font-size: 2rem;
	}

	[size="hl-xsmall"] {
		font-size: 1.75rem;
	}

	[size="section-large"] {
		font-size: 1.75rem;
		margin-bottom: 0.25rem;
	}

	[size="section-medium"] {
		font-size: 1.5rem;
		margin-bottom: 0.25rem;
	}

	[size="section-small"] {
		font-size: 1.25rem;
		margin-bottom: 0.25rem;
	}

	[size="section-xsmall"] {
		font-size: 1rem;
		margin-bottom: 0.25rem;
	}

	p {
		font-size: 1rem;
		margin-bottom: 0.25rem;
	}

}

@media only screen and (max-width: 768px) {}

/* Mobile Breakpoints */

@media only screen and (max-width: 640px) {

	/* Sizing for headline */
	[size="hl-xlarge"] {
		font-size: 3rem;
	}

	[size="hl-large"] {
		font-size: 2.5rem;
	}

	[size="hl-medium"] {
		font-size: 2rem;
	}

	[size="hl-small"] {
		font-size: 1.75rem;
	}

	[size="hl-xsmall"] {
		font-size: 1.5rem;
	}

	[size="section-large"] {
		font-size: 1.5rem;
	}

	[size="section-medium"] {
		font-size: 1.25rem;
	}

	[size="section-small"] {
		font-size: 1rem;
	}

	[size="section-xsmall"] {
		font-size: 1rem;
	}

}


@media only screen and (max-width: 480px) {}


@media only screen and (max-width: 375px) {}